.sidebar{

    height:100vh;
   
    padding: 1%;
    
}
.topper{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
   
}
button{
    background-color: transparent;
    border: none;
    color:White;
}

.sidebar ul li{
    list-style-type: none;
    color: white;
    
}
