.App{
  margin: 0px;
  box-sizing: border-box;
  padding-top: 0%;
}
.boxes{
  display:flex;
 gap:20px;
}
/* .scrollerPart::-webkit-scrollbar{
  width: 0;
} */
.scrollerPart::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollerPart::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.scrollerPart::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

.scrollerPart::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}
.sidebar::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}
.topper{
  display: flex;
  align-items: center;
}
/* .sidebar::-webkit-scrollbar{
  width: 0;
} */
.sidebar{
  overflow: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.material-icons{
  margin: 6px 6px 6px 0px;
  text-align: center;
}
.sidebar>h5{
  margin: 10px;
}
.white-text {
  color: white;
}